#anchorHome {
    -fx-background-image: url("Images/flames.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#anchorCreateExercise {
    -fx-background-image: url("Images/flames_stripes.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#anchorCreateRoutine {
    -fx-background-image: url("Images/flames_big.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#anchorViewExercises {
    -fx-background-image: url("Images/flames_blue.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#anchorViewRoutines {
    -fx-background-image: url("Images/flames2.jpg");
    -fx-background-size: 600 400;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.whiteBackground {
    -fx-background-color: white;
}

.blackBackground {
    -fx-background-color: black;
}

#anchorHomeTitle {
    -fx-background-color: #000000;
}

.white-text {
    -fx-color: white;
}

#homeTitleText {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#homeButtonText {
    -fx-font-size: 14px;
}

.cool-font {
    -fx-font-family: fantasy;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.big-text {
    -fx-font-size: 18px;
}